pyrogram==2.0.106
tgcrypto
yt-dlp==2025.1.12
spotipy
requests
pillow
aiofiles
aiohttp==3.9.0
youtube-search-python
Flask
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
pymongo
moviepy
